websrc/templates/checkout/not_your_order.pug
| {% extends "blender_fund/empty_page.html" %}
| {% load looper %}

| {% block content %}
.checkout-container
	section.checkout
		header
			a.text-muted(href="/")
				| #[i.fa.fa-angle-left.pr-3] Blender Development Fund

			section.plan-info.d-flex.align-items-center
				h2.my-0.pt-4 Not your payment link

		hr

		p You seem to have followed someone else's payment link.

| {% endblock %}

templates/checkout/not_your_order.html

{% extends "blender_fund/empty_page.html" %}
{% load looper %}
{% block content %}
<div class="checkout-container">
  <section class="checkout">
    <header><a class="text-muted" href="/"><i class="fa fa-angle-left pr-3"></i> Blender Development Fund</a>
      <section class="plan-info d-flex align-items-center">
        <h2 class="my-0 pt-4">Not your payment link</h2>
      </section>
    </header>
    <hr/>
    <p>You seem to have followed someone else's payment link.</p>
  </section>
</div>{% endblock %}
